@import "/src/styles/variables";
@import "/src/styles/mixins";

.labelText {
  font-size: 600;
  font-family: sans-serif;
  font-size: 12px;

  @include respond-above("sm") {
    font-size: 13px;
  }
  @include respond-above("md") {
    font-size: 14px;
  }
  @include respond-above("lg") {
    font-size: 15px;
  }
  @include respond-above("xl") {
    font-size: 16px;
  }
}
