@import "/src/styles/variables";
@import "/src/styles/mixins";

.headerContainer {
  .linkContainer {
    display: flex;
    align-items: center;

    .image {
      width: 20px;
      height: 20px;

      @include respond-above("md") {
        width: 27.5px;
        height: 27.5px;
      }

      @include respond-above("lg") {
        width: 30px;
        height: 30px;
      }

      @include respond-above("xl") {
        width: 35px;
        height: 35px;
      }
    }

    .write {
      color: rgba(0, 0, 0, 0.5);
      font-family: Inria Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include respond-above("md") {
        font-size: 24px;
      }

      @include respond-above("lg") {
        font-size: 27px;
      }

      @include respond-above("xl") {
        font-size: 30px;
      }
    }
  }

  &:hover {
    background-color: rgb(211, 211, 211);
  }
}

.userContainer {
  border-radius: 5px;
  background-color: rgba(208, 208, 208, 0.5);
  padding: 2px;

  @include respond-above("sm") {
    border-radius: 6px;
  }
  @include respond-above("md") {
    padding: 3px;
    border-radius: 7px;
  }
  @include respond-above("lg") {
    padding: 4px;
    border-radius: 8.5px;
  }
  @include respond-above("xl") {
    padding: 5px;
    border-radius: 9px;
  }

  .linkContainer {
    display: flex;
    align-items: center;

    .image {
      width: 20px;
      height: 20px;

      @include respond-above("md") {
        width: 27.5px;
        height: 27.5px;
      }

      @include respond-above("lg") {
        width: 30px;
        height: 30px;
      }

      @include respond-above("xl") {
        width: 35px;
        height: 35px;
      }
    }

    .write {
      color: rgba(0, 0, 0, 0.5);
      font-family: Inria Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      font-size: 14px;

      @include respond-above("sm") {
        font-size: 16px;
      }
      @include respond-above("md") {
        font-size: 20px;
      }
      @include respond-above("lg") {
        font-size: 25px;
      }
      @include respond-above("xl") {
        font-size: 30px;
      }
    }
  }

  &:hover {
    background-color: rgb(211, 211, 211);
  }
}
