@import "/src/styles/variables";
@import "/src/styles/mixins";

.container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  @include respond-above("xl") {
    width: 100%;
  }
  
  .pagination {
    display: flex;
    gap: 6.25px;
    margin: 0 auto;
    justify-content: center;

    @include respond-above("md") {
      gap: 10px;
    }
    @include respond-above("lg") {
      gap: 15px;
    }
    @include respond-above("xl") {
      gap: 20px;
    }
  }
}
