@import "/src/styles/variables";
@import "/src/styles/mixins";

.container {
  width: 90%;
  margin: 0 auto;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond-above("md") {
    height: 100px;
  }
  @include respond-above("lg") {
    height: 110px;
  }
  @include respond-above("xl") {
    width: 1200px;
    height: 120px;
  }

  @mixin commonLink() {
    font-size: 12px;
    font-weight: 600;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.5);

    @include respond-above("md") {
      font-size: 14px;
    }
    @include respond-above("lg") {
      font-size: 16px;
    }
    @include respond-above("xl") {
      font-size: 18px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .userContainer {
    display: flex;
    align-items: flex-end;

    .signUpLink {
      @include commonLink();
    }
  }

  .updateUserLink {
    @include commonLink();
  }
}
