@import "/src/styles/variables";
@import "/src/styles/mixins";

.likeImage {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;

  @include respond-above("md") {
    width: 30px;
    height: 30px;
  }
  @include respond-above("lg") {
    width: 35px;
    height: 35px;
  }
  @include respond-above("xl") {
    width: 40px;
    height: 40px;
  }

  &:hover {
    filter: sepia(1) hue-rotate(-40deg) saturate(10);
  }
}

.number {
  margin-left: 5px;
}
