@import "/src/styles/variables";
@import "/src/styles/mixins";

.container {
  .userContents {
    margin-top: 20px;
  }
  .deleteButton {
    margin-top: 40px;
    width: 100px;

    @include respond-above("xl") {
      margin-top: 80px;
      width: 125px;
    }
  }
}
