@import "/src/styles/variables";
@import "/src/styles/mixins";

.container {
  flex: 1;

  .title {
    display: inline-block;
    font-family: Inria Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 5px 0;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include respond-above("sm") {
      font-size: 18px;
      padding: 10px 0;
    }
    @include respond-above("md") {
      font-size: 20px;
    }
    @include respond-above("lg") {
      font-size: 22px;
    }
    @include respond-above("xl") {
      font-size: 24px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .content {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 100%;

    @include respond-above("sm") {
      font-size: 13px;
      -webkit-line-clamp: 2;
    }
    @include respond-above("md") {
      font-size: 14px;
      -webkit-line-clamp: 3;
    }
    @include respond-above("lg") {
      font-size: 15px;
      -webkit-line-clamp: 4;
    }
    @include respond-above("xl") {
      font-size: 16px;
      -webkit-line-clamp: 5;
    }
  }
}
