@import "/src/styles/variables";
@import "/src/styles/mixins";

.container {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .textContainer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text {
      font-family: Inria Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @include respond-above("sm") {
        font-size: 16px;
      }
      @include respond-above("md") {
        font-size: 20px;
      }
      @include respond-above("lg") {
        font-size: 25px;
      }
      @include respond-above("xl") {
        font-size: 30px;
      }
    }
  }

  .linkContainer {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }
}
